<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Vue component</h1>
      <MainMenu></Mainmenu>
   
      <Container></Container>

      <registerform></registerform>

      <ul>
        <li v-for="user in users" :key="user.id">{{ user.name }}</li>
      </ul>
    </div>

    <script>
      let Mainmenu = {
        template: `<aside>Menu</aside>`,
        style : "",
        script :""
      };

      let Container = {
        template:
        `<main>
          <h3>{{ title }}</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat quisquam numquam atque itaque et iure eveniet magnam ut explicabo reiciendis!</p>
        </main>`,
        data() {
          return {
            title: 'monsupertitle',
          };
        },
      };

      let Registerform = {
        template: 
        `<form @submit.prevent="registerUser">
          <input type="text" v-model="input">
          <button type="submit">Ajouter</button>
        </form>`, 
        data(){
            return {
                input : "toto",
            };
        },
        methods: {
            registerUser(){
                console.log("registerUser");
            }
        },
      };


      const options = {
        data() {
          return {
            users: [],
          };
        },
        methods: {},
        components: {
          Mainmenu,
          Container,
          Registerform,
        },
        mounted() {
          console.log("mounted");
          fetch('https://jsonplaceholder.typicode.com/users')
          .then((response)=>{
              response.json().then((data) =>{
                console.log(data);
                this.users = data;
              })
          })
        },
        beforeUpdate(){
          console.log("beforeUpdate");
        }
        };
            
      Vue.createApp(options).mount("#app");
    </script>
  </body>
</html>